%titulo{
    color: orangered;
    font-size: 80px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-family: "Martian Mono";
    text-decoration: underline;
    text-shadow: 2px 2px 3px black;
}