@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Martian+Mono:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Martian Mono";
}

.titulo-contactos, .titulo-productos {
  color: orangered;
  font-size: 80px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: "Martian Mono";
  text-decoration: underline;
  text-shadow: 2px 2px 3px black;
}

.titulo {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* @media(max-width: 992px){
          font-size: 48px;
      }
  @media(max-width: 768px){
          font-size: 32px;
      }
  @media(max-width: 580px){
          font-size: 20px;
      }*/
}

.titulo-inicio {
  color: orangered;
  font-size: 80px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: "Martian Mono";
  text-decoration: underline;
  text-shadow: 2px 2px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .titulo-inicio .titulo {
    font-size: 48px;
  }
}
@media (max-width: 600px) {
  .titulo-inicio .titulo {
    font-size: 32px;
  }
}
@media (max-width: 400px) {
  .titulo-inicio .titulo {
    font-size: 20px;
  }
}

.portada-img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.titulo-novedades {
  color: black;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.titulo-promos {
  color: black;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.navegador {
  background-color: #F18E14;
  width: 100%;
  position: static;
  top: 0px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
  top: 0;
  left: 10;
  padding: 10px;
  transition: 0.5s;
}
.logo:hover {
  transform: translate(10px, 10px);
}

.navegador-links {
  list-style: none;
  display: flex;
  gap: 100px;
}

.navegador-links a {
  display: block;
  padding: 20px 50px;
  color: black;
  text-decoration: none;
  justify-content: space-around;
}

.main-portada {
  width: 100px;
  height: 100px;
}

.texto-busqueda {
  width: 400px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 10px;
}

.boton-busqueda {
  width: 100px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 10px;
}

/*.productos {
    display: flex;
    justify-content: space-evenly;
}*/
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.productos .auricular {
  width: 300px;
  margin: 30px;
  padding: 20px;
  border: solid 5px black;
  border-radius: 20px;
  position: static;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.productos .auricular-img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.productos .titulo-auricular {
  display: flex;
  justify-content: center;
}
.productos .parrafo-auricular {
  display: flex;
  justify-content: center;
}
.productos .button-comprar {
  width: 100px;
  height: 25px;
  background-color: #ff7e00;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: -30px;
  margin-right: 70px;
  border-radius: 20px;
  transition: 0.5s;
}
.productos .button-comprar:hover {
  background-color: #EB6016;
  width: 125px;
  height: 30px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.productos .consola {
  width: 300px;
  margin: 30px;
  padding: 20px;
  border: solid 5px black;
  border-radius: 20px;
  position: static;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.productos .consola-img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.productos .titulo-consola {
  display: flex;
  justify-content: center;
}
.productos .parrafo-consola {
  display: flex;
  justify-content: center;
}
.productos .button-comprar {
  width: 100px;
  height: 25px;
  background-color: #ff7e00;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: -30px;
  margin-right: 70px;
  border-radius: 20px;
  transition: 0.5s;
}
.productos .button-comprar:hover {
  background-color: #EB6016;
  width: 125px;
  height: 30px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.productos .monitor {
  width: 300px;
  margin: 30px;
  padding: 20px;
  border: solid 5px black;
  border-radius: 20px;
  position: static;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.productos .monitor-img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.productos .titulo-monitor {
  display: flex;
  justify-content: center;
}
.productos .parrafo-monitor {
  display: flex;
  justify-content: center;
}
.productos .button-comprar {
  width: 100px;
  height: 25px;
  background-color: #ff7e00;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: -30px;
  margin-right: 70px;
  border-radius: 20px;
  transition: 0.5s;
}
.productos .button-comprar:hover {
  background-color: #EB6016;
  width: 125px;
  height: 30px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.productos .mouse {
  width: 300px;
  margin: 30px;
  padding: 20px;
  border: solid 5px black;
  border-radius: 20px;
  position: static;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.productos .mouse-img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.productos .titulo-mouse {
  display: flex;
  justify-content: center;
}
.productos .parrafo-mouse {
  display: flex;
  justify-content: center;
}
.productos .button-comprar {
  width: 100px;
  height: 25px;
  background-color: #ff7e00;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: -30px;
  margin-right: 70px;
  border-radius: 20px;
  transition: 0.5s;
}
.productos .button-comprar:hover {
  background-color: #EB6016;
  width: 125px;
  height: 30px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.productos .teclado {
  width: 300px;
  margin: 30px;
  padding: 20px;
  border: solid 5px black;
  border-radius: 20px;
  position: static;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.productos .teclado-img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.productos .titulo-teclado {
  display: flex;
  justify-content: center;
}
.productos .parrafo-teclado {
  display: flex;
  justify-content: center;
}
.productos .button-comprar {
  width: 100px;
  height: 25px;
  background-color: #ff7e00;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: -30px;
  margin-right: 70px;
  border-radius: 20px;
  transition: 0.5s;
}
.productos .button-comprar:hover {
  background-color: #EB6016;
  width: 125px;
  height: 30px;
}

.formulario-contactos {
  background-color: #F18E14;
  width: 600px;
  margin: 40px auto 40px auto;
  padding: 20px;
  border-radius: 5px;
}

.formulario-contactos-grupo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px;
}

.formulario-contactos-grupo-label {
  color: black;
}

.formulario-contactos-boton {
  width: 100%;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  padding: 10px 5px;
  color: #ff7e00;
  font-weight: bold;
}

.formulario-contactos-grupo-input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.formulario-contactos-grupo-input::-moz-placeholder {
  color: white;
}

.formulario-contactos-grupo-input::placeholder {
  color: white;
}

.formulario-contactos-grupo-input:focus {
  border: 2px solid white;
  outline: none;
}

.reseñas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}

.comentarios {
  width: 300px;
  margin: 30px;
  padding: 20px;
  border: solid 5px black;
  border-radius: 20px;
  position: static;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.comentarios .foto-comentarios {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
.comentarios .parrafo-comentarios {
  width: 200px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.titulo-reseñas {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #EF7814;
  padding: 20px 20px 20px 20px;
}

.redes {
  display: flex;
  justify-content: right;
}
.redes .icono-whatsapp {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border: solid 5px black;
  border-radius: 20px;
}
.redes .icono-facebook {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border: solid 5px black;
  border-radius: 20px;
}
.redes .icono-instagram {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border: solid 5px black;
  border-radius: 20px;
}

/*@media(max-width: 768px){
    .titulo{
        font-size: 48px;
    }
}
@media(max-width: 768px){
    .titulo{
        font-size: 32px;
    }
}
@media(max-width: 768px){
    .titulo{
        font-size: 20px;
    }
}*//*# sourceMappingURL=style.css.map */