@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Martian+Mono:wght@100..800&display=swap");
@import "./scss/reset.scss";
@import "./scss/extens";
@import "./scss/variables";
@import "./scss/titulo";
@import "./scss/navegador";
@import "./scss/productos";
@import "./scss/formulario";
@import "./scss/footer";


/*@media(max-width: 768px){
    .titulo{
        font-size: 48px;
    }
}
@media(max-width: 768px){
    .titulo{
        font-size: 32px;
    }
}
@media(max-width: 768px){
    .titulo{
        font-size: 20px;
    }
}*/